@import "tailwindcss";
@plugin "@tailwindcss/typography";
/* @plugin "@tailwindcss/forms"; */
/* @plugin "@tailwindcss/line-clamp"; */
/* @plugin "@tailwindcss/aspect-ratio"; */
/* @plugin "@tailwindcss/container-queries"; */

@theme {
  /* #6B0504; #E6AF2E */
  /* Paleta de colores principal */
  --color-primary: oklch(0.2689 0.0468 261.28); /* Fondo principal (#19263D) */
  --color-accent: oklch(0.5362 0.2082 22.24); /* Resaltado (#E63946) */
  --color-text: oklch(0.9651 0.0184 137.8); /* Texto principal (#F1FAEE) */
  --color-titles: oklch(0.8542 0.0517 199.29); /* Títulos (#A8DADC) */
  --color-emphasis: oklch(0.873 0.1396 93.54); /* Énfasis (#F4D35E) */

  /* Paleta para modo claro */
  --color-light-background: oklch(0.9651 0.0184 137.8); /* #F1FAEE */
  --color-light-text: oklch(0.1289 0.0468 261.28); /* #19263D */
  --color-light-titles: oklch(0.5186 0.0517 199.29); /* #4C7D81 */

  --font-monospace: monospace;
  --font-inter: "Inter";

  --animate-rotate-shekel: rotate-shekel 0.3s ease-in-out infinite;
  @keyframes rotate-shekel {
    0% {
      transform: rotate(0deg);
    }
    20% {
      transform: rotate(15deg);
    }
    40% {
      transform: rotate(-15deg);
    }
    60% {
      transform: rotate(15deg);
    }
    80% {
      transform: rotate(-15deg);
    }
    100% {
      transform: rotate(0deg);
    }
  }

  --animate-wiggle: wiggle 1s ease-in-out infinite;
  @keyframes wiggle {
    0%,
    100% {
      transform: rotate(-3deg);
    }
    50% {
      transform: rotate(3deg);
    }
  }
}
