---
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Principal from "../components/Principal.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Header />
  <main>
    <Principal />
  </main>
  <Footer />
</Layout>
