<p class="prose text-lg mt-4 prose-invert">
  Ingeniero en Sistemas con experiencia en desarrollo de software. Me apasiona crear soluciones innovadoras y eficientes
  que mejoren la experiencia del usuario. Actualmente, estoy buscando nuevas oportunidades para aplicar mis habilidades
  y seguir creciendo profesionalmente.
</p>
